name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20.x
        cache: 'npm'
    
    - name: Get version from tag
      id: get_version
      run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT
    
    - name: Update package.json version
      run: npm version ${{ steps.get_version.outputs.VERSION }} --no-git-tag-version
    
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    
    - name: Package Extension
      run: npx @vscode/vsce package
    
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: '*.vsix'
        draft: false
        prerelease: false
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
